.bgColor
{
    background-color: yellow;
    .lordImage
    {
        background-repeat: repeat-x;
    }
}

.wrapper
{
    max-width: 1200px;
    margin: 0 auto;
}

.container
{
    max-width: 1200px;
    margin: 0 auto;
}

.primary-bg
{
    background-color: azure;
}

